/* Reset some default browser styles */
body, h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

/* Add a background color to the whole page */
body {
  background-color: hsl(206, 46%, 75%);
  font-family: Arial, sans-serif;
}

/* Center content and set a max width */
.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

/* Add some spacing and centering for header */
.header {
  text-align: center;
  margin-bottom: 30px;
}

/* Calming colors for buttons */
.button-play, .button-stop {
  background-color: #4CAF50; /* Green */
  color: white;
  padding: 15px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

/* For track list */
.track-list {
  list-style-type: none;
  margin-top: 20px;
}

.track-item {
  background-color: #ddd;
  padding: 10px;
  margin: 8px 0;
  border-radius: 4px;
}

/* Make it calm and non-distractive */
.track-item h3, .track-item p {
  margin: 5px 0;
}

/* Additional styles for a timer */
.timer {
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
}


  
  .logo {
    height: 100px;
    width: 100px;
  }
 